/hadoop_examples_post/output_movielens/_SUCCESS
/hadoop_examples_post/output_movielens/._SUCCESS.crc
/hadoop_examples_post/output_movielens/part-r-0000
/hadoop_examples_post/output_movielens/.part-r-0000.crc
/SparkJava8Examples_post/output_movielens/_SUCCESS
/SparkJava8Examples_post/output_movielens/._SUCCESS.crc
/SparkJava8Examples_post/output_movielens/part-r-00000
/SparkJava8Examples_post/output_movielens/.part_00000.crc